<div class="container">
  <h1 class="page-title">Cadastrar Nova Conta</h1>

  <form class="registration-form" (ngSubmit)="registerAccount()">
    <div class="form-group">
      <label for="agency">Agência:</label>
      <input type="text" id="agency" [(ngModel)]="agency" name="agency" required>
    </div>

    <div class="form-group">
      <label for="accountNumber">Número da Conta:</label>
      <input type="text" id="accountNumber" [(ngModel)]="accountNumber" name="accountNumber" required>
    </div>

    <button type="submit" class="submit-button">Cadastrar</button>
  </form>

  <button class="back-button" (click)="navigateBack()">Voltar</button>
</div>
