// Defina a cor principal de verde
$primary-green: #4caf50; // Verde padrão do Material Design

// Estilos gerais para o container da página inicial
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;

  h1 {
    color: $primary-green;
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .btn-register {
    background-color: $primary-green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-bottom: 20px;

    &:hover {
      background-color: darken($primary-green, 10%);
    }
  }

  .accounts-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;

    h2 {
      color: $primary-green;
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 10px;
        border-bottom: 1px solid #ddd;

        &:last-child {
          border-bottom: none;
        }

        span {
          display: block;
          margin-bottom: 5px;
        }
      }
    }
  }
}
