<div class="home-container">
  <h1>Bem-vindo à Home</h1>
  
  <!-- Botão para registrar nova conta -->
  <button class="btn-register" (click)="navigateToBankRegister()">Cadastrar Nova Conta</button>

  <!-- Lista de contas -->
  <div *ngIf="accounts.length > 0" class="accounts-list">
    <h2>Contas Cadastradas</h2>
    <ul>
      <li *ngFor="let account of accounts">
        <span>Banco: {{ account.bankCode }}</span>
        <span>Agência: {{ account.agency }}</span>
        <span>Conta: {{ account.accountNumber }}</span>
      </li>
    </ul>
  </div>
</div>
